{% extends 'layouts/base.html' %}

{% block title %}Lista de Docentes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Docentes</h2>
    <a href="{% url 'docente_create' %}" class="btn btn-primary mb-3">Agregar Docente</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for docente in docentes %}
            <tr>
                <td>{{ docente.nombre }}</td>
                <td>{{ docente.apellido_paterno }}</td>
                <td>{{ docente.apellido_materno }}</td>
                <td>{{ docente.email }}</td>
                <td>{{ docente.telefono }}</td>
                <td>
                    <a href="{% url 'docente_update' docente.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'docente_delete' docente.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}