{% extends 'layouts/base.html' %}


{% block content %}
<div class="container mt-4">
  <h2>Mi Horario</h2>
  <div class="table-responsive mt-3">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Hora</th>
          {% for dia in dias %}
            <th>{{ dia }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for hora in horas %}
          <tr>
            <th class="bg-light">{{ hora }}</th>
            {% for dia in dias %}
              {% with clave=dia|add:"-"|add:hora %}
                {% with h=horario_dict|dict_get:clave %}
                  {% if h %}
                    <td>
                      {{ h.materia.nombre }}<br>
                      <small class="text-muted">{{ h.docente.nombre }}</small>
                    </td>
                  {% else %}
                    <td>-</td>
                  {% endif %}
                {% endwith %}
              {% endwith %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
