{% extends "base.html" %}
{% block content %}
<h2>{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Horario</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Guardar</button>
</form>

<script>
    document.getElementById('carrera-select').addEventListener('change', function() {
        var carreraId = this.value;
        fetch(`/horarios/filter_asignaturas/?carrera_id=${carreraId}`)
        .then(response => response.json())
        .then(data => {
            var asignaturaSelect = document.getElementById('asignatura-select');
            asignaturaSelect.innerHTML = '<option value="">---------</option>';
            data.forEach(asignatura => {
                var option = document.createElement('option');
                option.value = asignatura.id;
                option.textContent = asignatura.nombre;
                asignaturaSelect.appendChild(option);
            });
        });
    });
</script>

{% endblock %}