{% extends 'layouts/base.html' %}
{% block title %}Administrador Creado{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h3 class="text-success mb-4">¡Administrador creado correctamente!</h3>
            <p><strong>Usuario:</strong> {{ clave }}</p>
            <p><strong>Contraseña temporal:</strong> {{ password }}</p>
            <a href="{% url 'administrador_list' %}" class="btn btn-primary mt-4">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}

